@namespace Blazor.AdminLte
<div class="@columnClass">@ChildContent</div>
@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public Size Size { get; set; }
    [Parameter]
    public Width Width { get; set; }
    private string columnClass => "col" + (Size == Size.ExtraSmall ? "" : "-") + size + (Width == Width.None ? "" : "-") + width;
    private string size => Size.GetDescription<StyleAttribute>();
    private string width => Width.GetDescription<StyleAttribute>();
}
