@page "/messages/see-all-notifications"
<ContentHeader>
    <Header>
        All Notifications
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title><CardTitle>Title</CardTitle></Title>
        <Body>Contents</Body>
    </Card>
</ContentMain>
