@page "/messages/see-all-notifications"
<ContentHeader>
    <Header>
        All Notifications
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title>Title</Title>
        <Contents>Contents</Contents>
    </Card>
</ContentMain>
