<li class="nav-item">
    <a href="@Link" class="nav-link @navLinkState">
        <i class="nav-icon @Icon"></i>
        <p>
            @ChildContent
        </p>
    </a>
</li>
@code {
    [Parameter]
    public string Icon { get; set; }
    [Parameter]
    public string Link { get; set; } = "#";
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public NavLinkState NavLinkState { get; set; }

    private string navLinkState => NavLinkState.GetDescription<StyleAttribute>();
}
