@namespace Blazor.AdminLte
@implements IDisposable
@inject IJSRuntime JS
@inject NavigationManager nav
@inherits BlazorState.BlazorStateComponent
<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" role="menu">
        @ChildContent
    </ul>
</nav>
<!-- /.sidebar-menu -->
@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override void OnInitialized()
    {
        nav.LocationChanged += LocationChanged;
        base.OnInitialized();
    }
    void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        Mediator.Send(new SideBarState.SelectMenuItemAction() { Id = "" }); ;
    }
    void IDisposable.Dispose()
    {
        // Unsubscribe from the event when our component is disposed
        nav.LocationChanged -= LocationChanged;
    }
}
