@namespace Blazor.AdminLte
<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
        @ChildContent
    </ul>
</nav>
<!-- /.sidebar-menu -->
@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
