@namespace Blazor.AdminLte
@inject IJSRuntime JS  
<li class="nav-item has-treeview menu-@(menuState)">
    <a href="@Link" class="nav-link active" @onclick="OnClick">
        <i class="nav-icon @Icon"></i>
        <p>
            @Title
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul @ref="ul" class="nav nav-treeview">
        @Items
    </ul>
</li>
@code {
    [Parameter]
    public string Link { get; set; } = "javascript:void(0)";
    [Parameter]
    public string Icon { get; set; }
    [Parameter]
    public RenderFragment Title { get; set; }
    [Parameter]
    public RenderFragment Items { get; set; }

    [Parameter]
    public MenuState MenuState { get; set; }

    private string menuState => MenuState.GetDescription<StyleAttribute>();

    private ElementReference ul { get; set; }
    private bool Visible { get; set; }

    private void OnClick()
    {
        MenuState = MenuState == MenuState.Open ? MenuState.Open : MenuState.Closed;
        JS.InvokeVoidAsync("toggleSideMenu", ul);
    }
}
