@namespace Blazor.AdminLte
<div class="input-group-prepend">
    <span class="input-group-text">
        <i class="@Icon"></i>
    </span>
</div>
<input @ref="DateRangePickerRef" type="text" value="@value" class="form-control float-right">
