@namespace Blazor.AdminLte
<a href="@(Link ?? "javascript:void(0);")" class="dropdown-item">
    <i class="@Icon"></i>@Message
    @{
        var prettyDate = DateTime?.GetPrettyDate();
        if (prettyDate is not null)
        {
            <p class="float-right text-muted text-sm"><i class="far fa-clock mr-1"></i>@prettyDate</p>
        }
    }
</a>

@code {

    [Parameter]
    public string Link { get; set; }
    
    [Parameter]
    public string Icon { get; set; }
    
    [Parameter]
    public RenderFragment Message { get; set; }
    
    [Parameter]
    public DateTime? DateTime { get; set; }
}