@namespace Blazor.AdminLte
<li class="nav-item d-none d-sm-inline-block">
    @if (Link != string.Empty)
    {
        <a href="@Link" class="nav-link" @onclick="DoClick">@ChildContent</a>
    }
    else
    {
        <div role="menu" class="nav-link" style="cursor:pointer" @onclick="DoClick">@ChildContent</div>
    }
</li>