@page "/starter-pages/active-page"
@inject NavBarLeftInjectableMenu menu
@menu.SetContent(@<ActivePageMenu />, true)
<ContentHeader>
    <Header>
        <PageTitle Title="Active Page" />
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title><CardTitle>Some active page content</CardTitle></Title>
        <Body>Contents</Body>
    </Card>
</ContentMain>
