@page "/starter-pages/active-page"
<ContentHeader>
    <Header>
        ActivePage
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title>Some active page content</Title>
        <Contents>Contents</Contents>
    </Card>
</ContentMain>
