@page "/starter-pages/user-page"
<ContentHeader>
    <Header>
        <Microsoft.AspNetCore.Components.Web.PageTitle>User Pag</Microsoft.AspNetCore.Components.Web.PageTitle>
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title><CardTitle>Some user page content</CardTitle></Title>
        <Body>
            Contents
        </Body>
    </Card>
</ContentMain>
