@page "/starter-pages/user-page"
<ContentHeader>
    <Header>
        <PageTitle Title="User Page" />
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title><CardTitle>Some user page content</CardTitle></Title>
        <Body>
            Contents
        </Body>
    </Card>
</ContentMain>
