@page "/widgets"
@inject IJSRuntime JS
    <ContentHeader>
        <Header>
            <Blazor.AdminLte.PageTitle Title="Widgets" />
        </Header>
    </ContentHeader>
    <ContentMain>
        <H5>Info Box</H5>
        <Row>
            <Column Classes="col.md._3">
                <InfoBox IconBackgroundColor="Color.Danger" Icon="far fa-envelope">
                    <Title>Messages</Title>
                    <Value>1410</Value>
                </InfoBox>
            </Column>
            <Column Classes="col.md._3">
                <InfoBox IconBackgroundColor="Color.Success" Icon="far fa-flag">
                    <Title>Bookmarks</Title>
                    <Value>410</Value>
                </InfoBox>
            </Column>
            <Column Classes="col.md._3">
                <InfoBox IconBackgroundColor="Color.Warning" Icon="far fa-copy">
                    <Title>Uploads</Title>
                    <Value>13648</Value>
                </InfoBox>
            </Column>
            <Column Classes="col.md._3">
                <InfoBox Gradient="Gradient.Gradient" IconBackgroundColor="Color.Info" Icon="far fa-star">
                    <Value>93139</Value>
                    <Title>Likes</Title>
                </InfoBox>
            </Column>
        </Row>
        <H5>Info Box With bg-*</H5>
        <Row>
            <Column Classes="col.md._3">
                <InfoBox BackgroundColor="Color.Info" Icon="far fa-bookmark" Percentage=70>
                    <Title>Bookmarks</Title>
                    <Value>41.410</Value>
                    <ProgressDescription>70% Increase in 30 Days</ProgressDescription>
                </InfoBox>
            </Column>
            <Column Classes="col.md._3">
                <InfoBox BackgroundColor="Color.Success" Icon="far fa-thumbs-up" Percentage=70>
                    <Title>Likes</Title>
                    <Value>41.410</Value>
                    <ProgressDescription>70% Increase in 30 Days</ProgressDescription>
                </InfoBox>
            </Column>
            <Column Classes="col.md._3">
                <InfoBox BackgroundColor="Color.Warning" Icon="far fa-calendar" Percentage=70>
                    <Title>Events</Title>
                    <Value>41.140</Value>
                    <ProgressDescription>70% Increase in 30 Days</ProgressDescription>
                </InfoBox>
            </Column>
            <Column Classes="col.md._3">
                <InfoBox BackgroundColor="Color.Danger" Icon="far fa-comments" Percentage=70>
                    <Title>Comments</Title>
                    <Value>41.410</Value>
                    <ProgressDescription>70% Increase in 30 Days</ProgressDescription>
                </InfoBox>
            </Column>
        </Row>
        <H5>Info Box With bg-gradient-*</H5>
        <Row>
            <Column Classes="col.md._3">
                <InfoBox Gradient="Gradient.Gradient" BackgroundColor="Color.Info" Icon="far fa-bookmark" Percentage=70>
                    <Title>Bookmarks</Title>
                    <Value>41.410</Value>
                    <ProgressDescription>70% Increase in 30 Days</ProgressDescription>
                </InfoBox>
            </Column>
            <Column Classes="col.md._3">
                <InfoBox Gradient="Gradient.Gradient" BackgroundColor="Color.Success" Icon="far fa-thumbs-up" Percentage=70>
                    <Title>Likes</Title>
                    <Value>41.410</Value>
                    <ProgressDescription>70% Increase in 30 Days</ProgressDescription>
                </InfoBox>
            </Column>
            <Column Classes="col.md._3">
                <InfoBox Gradient="Gradient.Gradient" BackgroundColor="Color.Warning" Icon="far fa-calendar" Percentage=70>
                    <Title>Events</Title>
                    <Value>41.410</Value>
                    <ProgressDescription>70% Increase in 30 Days</ProgressDescription>
                </InfoBox>
            </Column>
            <Column Classes="col.md._3">
                <InfoBox Gradient="Gradient.Gradient" BackgroundColor="Color.Danger" Icon="far fa-comments" Percentage=70>
                    <Title>Comments</Title>
                    <Value>41.410</Value>
                    <ProgressDescription>70% Increase in 30 Days</ProgressDescription>
                </InfoBox>
            </Column>
        </Row>
        <H5>Small Box</H5>
        <Row>
            <Column Classes="col.md._3">
                <SmallBox Icon="fas fa-shopping-cart" BackgroundColor="Color.Info">
                    <Value>150</Value>
                    <Title>New Orders</Title>
                    <Footer><SmallBoxFooter></SmallBoxFooter></Footer>
                </SmallBox>
            </Column>
            <Column Classes="col.md._3">
                <SmallBox Icon="fas fa-percentage" BackgroundColor="Color.Success">
                    <Value>53<sup style="font-size: 20px">%</sup></Value>
                    <Title>Bounce Rate</Title>
                    <Footer><SmallBoxFooter></SmallBoxFooter></Footer>
                </SmallBox>
            </Column>
            <Column Classes="col.md._3">
                <SmallBox Icon="fas fa-user-plus" BackgroundColor="Color.Warning">
                    <Value>44</Value>
                    <Title>User Registrations</Title>
                    <Footer><SmallBoxFooter></SmallBoxFooter></Footer>
                </SmallBox>
            </Column>
            <Column Classes="col.md._3">
                <SmallBox Icon="fas fa-chart-pie" BackgroundColor="Color.Danger">
                    <Value>65</Value>
                    <Title>Unique Visitors</Title>
                    <Footer><SmallBoxFooter></SmallBoxFooter></Footer>
                </SmallBox>
            </Column>
        </Row>
        <Row>
            <Column Classes="col.md._3">
                <SmallBox Icon="fas fa-shopping-cart" BackgroundColor="Color.Info" LoadingState="LoadingState.Normal">
                    <Value>150</Value>
                    <Title>New Orders</Title>
                    <Footer><SmallBoxFooter></SmallBoxFooter></Footer>
                </SmallBox>
            </Column>
            <Column Classes="col.md._3">
                <SmallBox Icon="fas fa-percentage" BackgroundColor="Color.Success" LoadingState="LoadingState.Normal">
                    <Value>53<sup style="font-size: 20px">%</sup></Value>
                    <Title>Bounce Rate</Title>
                    <Footer><SmallBoxFooter></SmallBoxFooter></Footer>
                </SmallBox>
            </Column>

        </Row>

        <H4>Cards</H4>
        <H5>Abilities</H5>
        <Row>
            <Column Classes="col.md._3">
                <Card HeaderBackgroundColor="Color.Primary" ToolOptions="new CardToolOptions { Expandable = true, Collapsable = true }">
                    <Title><CardTitle>Expandable</CardTitle></Title>
                    <Header><CardTools /></Header>
                    <Body>
                        The body of the card
                    </Body>
                </Card>
            </Column>
            <Column Classes="col.md._3">
            <Card HeaderBackgroundColor="Color.Success" ToolOptions="new CardToolOptions { Expandable = true, Collapsable = true }">
                    <Title><CardTitle>Collapsable</CardTitle></Title>
                    <Header><CardTools /></Header>
                    <Body>
                        The body of the card
                    </Body>
                </Card>
            </Column>
            <Column Classes="col.md._3">
                <Card HeaderBackgroundColor="Color.Warning" ToolOptions="new CardToolOptions { Removable = true }">
                    <Title><CardTitle>Removable</CardTitle></Title>
                    <Header><CardTools /></Header>
                    <Body>
                        The body of the card
                    </Body>
                </Card>
            </Column>
            <Column Classes="col.md._3">
                <Card HeaderBackgroundColor="Color.Danger" ToolOptions="new CardToolOptions { Maximizable = true }">
                    <Title><CardTitle>Maximizable</CardTitle></Title>
                    <Header><CardTools OnMaximize="HandleOnMaximize" /></Header>
                    <Body>
                        @BodyMaximizeCard
                    </Body>
                </Card>
            </Column>
            @code { 
                private MarkupString BodyMaximizeCard { get; set; } = (MarkupString)"The body of the card";
                private void HandleOnMaximize(Tuple<ICardTools, MouseEventArgs> tuple)
                {
                    BodyMaximizeCard = (MarkupString)"The body of the card, maximized";
                }
            }
        </Row>

        <Row>
            <Column Classes="col.md._3">
                <Card HeaderBackgroundColor="Color.Primary">
                    <Title><CardTitle>Card Refresh</CardTitle></Title>
                    <Header><CardTools OnRefresh="GetContent" /></Header>
                    <Body>
                        @BodyRefreshCard
                    </Body>
                </Card>
            </Column>
            @code { private MarkupString BodyRefreshCard { get; set; } = (MarkupString)"The body of the card";
                private void GetContent(Tuple<ICardTools, MouseEventArgs> tuple)
                {
                    BodyRefreshCard = (MarkupString)"The body of the card, after refresh";
                } }
            <Column Classes="col.md._3">
                <Card HeaderBackgroundColor="Color.Success" ToolOptions="new CardToolOptions { Collapsable = true, Expandable = true, Removable = true, Maximizable = true }">
                    <Title><CardTitle>All together</CardTitle></Title>
                    <Header><CardTools OnRefresh="GetContent2" /></Header>
                    <Body>
                        @BodyRefreshCard2
                    </Body>
                </Card>
            </Column>
            @code {
            private MarkupString BodyRefreshCard2 { get; set; } = (MarkupString)"The body of the card";
                private void GetContent2(Tuple<ICardTools, MouseEventArgs> tuple)
                {
                    BodyRefreshCard2 = (MarkupString)"The body of the card, after refresh";
                }
}
            <Column Classes="col.md._3">
                <Card HeaderBackgroundColor="Color.Warning" LoadingState="LoadingState.Normal">
                    <Title><CardTitle>Loading state</CardTitle></Title>
                    <Body>
                        The body of the card
                    </Body>
                </Card>
            </Column>
            <Column Classes="col.md._3">
                <Card HeaderBackgroundColor="Color.Danger" LoadingState="LoadingState.Dark">
                    <Title><CardTitle>Loading state (dark)</CardTitle></Title>
                    <Body>
                        The body of the card
                    </Body>
                </Card>
            </Column>
        </Row>


        <H5>Color Variations</H5>
        <Row>
            <Column Classes="col.md._3">
            <Card HeaderBackgroundColor="Color.Primary" ToolOptions="new CardToolOptions { Collapsable = true, Expandable = true }">
                    <Title><CardTitle>Primary</CardTitle></Title>
                    <Header><CardTools /></Header>
                    <Body>
                        The body of the card
                    </Body>
                </Card>
            </Column>
            <Column Classes="col.md._3">
                <Card HeaderBackgroundColor="Color.Success" ToolOptions="new CardToolOptions { Removable = true }">
                    <Title><CardTitle>Success</CardTitle></Title>
                    <Header><CardTools /></Header>
                    <Body>
                        The body of the card
                    </Body>
                </Card>
            </Column>
            <Column Classes="col.md._3">
            <Card HeaderBackgroundColor="Color.Warning" ToolOptions="new CardToolOptions { Collapsable = true, Expandable = true }">
                    <Title><CardTitle>Warning</CardTitle></Title>
                    <Header><CardTools /></Header>
                    <Body>
                        The body of the card
                    </Body>
                </Card>
            </Column>
            <Column Classes="col.md._3">
                <Card HeaderBackgroundColor="Color.Danger">
                    <Title><CardTitle>Danger</CardTitle></Title>
                    <Body>
                        The body of the card
                    </Body>
                </Card>
            </Column>
        </Row>
        <Row>
            <Column Classes="col.md._3">
            <Card HeaderBackgroundColor="Color.Primary" Styles="new CardStyle[] { CardStyle.Outline }" ToolOptions="new CardToolOptions { Collapsable = true, Expandable = true }">
                    <Title><CardTitle>Primary Outline</CardTitle></Title>
                    <Header><CardTools /></Header>
                    <Body>
                        The body of the card
                    </Body>
                </Card>
            </Column>
            <Column Classes="col.md._3">
                <Card HeaderBackgroundColor="Color.Success" Styles="new CardStyle[] { CardStyle.Outline }" ToolOptions="new CardToolOptions { Removable = true }">
                    <Title><CardTitle>Success Outline</CardTitle></Title>
                    <Header><CardTools /></Header>
                    <Body>
                        The body of the card
                    </Body>
                </Card>
            </Column>
            <Column Classes="col.md._3">
            <Card HeaderBackgroundColor="Color.Warning" Styles="new CardStyle[] { CardStyle.Outline }" ToolOptions="new CardToolOptions { Collapsable = true, Expandable = true }">
                    <Title><CardTitle>Warning Outline</CardTitle></Title>
                    <Header><CardTools /></Header>
                    <Body>
                        The body of the card
                    </Body>
                </Card>
            </Column>
            <Column Classes="col.md._3">
                <Card HeaderBackgroundColor="Color.Danger" Styles="new CardStyle[] { CardStyle.Outline }">
                    <Title><CardTitle>Danger Outline</CardTitle></Title>
                    <Body>
                        The body of the card
                    </Body>
                </Card>
            </Column>
        </Row>


        <Row>
            <Column Classes="col.md._3">
                <Card HeaderBackgroundColor="Color.Primary" Styles="new CardStyle[] { CardStyle.Solid }">
                    <Title><CardTitle>Primary Outline</CardTitle></Title>
                    <Body>
                        The body of the card
                    </Body>
                </Card>
            </Column>
            <Column Classes="col.md._3">
            <Card HeaderBackgroundColor="Color.Success" Styles="new CardStyle[] { CardStyle.Solid }" ToolOptions="new CardToolOptions { Collapsable = true, Expandable = true }">
                    <Title><CardTitle>Success Outline</CardTitle></Title>
                    <Header><CardTools /></Header>
                    <Body>
                        The body of the card
                    </Body>
                </Card>
            </Column>
            <Column Classes="col.md._3">
            <Card HeaderBackgroundColor="Color.Warning" Styles="new CardStyle[] { CardStyle.Solid }" ToolOptions="new CardToolOptions { Collapsable = true, Expandable = true }">
                    <Title><CardTitle>Warning Outline</CardTitle></Title>
                    <Header><CardTools /></Header>
                    <Body>
                        The body of the card
                    </Body>
                </Card>
            </Column>
            <Column Classes="col.md._3">
                <Card HeaderBackgroundColor="Color.Danger" Styles="new CardStyle[] { CardStyle.Solid }">
                    <Title><CardTitle>Danger Outline</CardTitle></Title>
                    <Body>
                        The body of the card
                    </Body>
                </Card>
            </Column>
        </Row>

        <Row>
            <Column Classes="col.md._3">
                <Card HeaderBackgroundColor="Color.Primary" Styles="new CardStyle[] { CardStyle.Outline }" ToolOptions="new CardToolOptions { Collapsable = true, Expandable = true }">
                    <Title><CardTitle>Primary Outline</CardTitle></Title>
                    <Header><CardTools /></Header>
                    <Body>
                        The body of the card
                    </Body>
                </Card>
            </Column>
            <Column Classes="col.md._3">
            <Card HeaderBackgroundColor="Color.Success" Styles="new CardStyle[] { CardStyle.Outline }" ToolOptions="new CardToolOptions { Removable = true, Expandable = true }">
                    <Title><CardTitle>Success Outline</CardTitle></Title>
                    <Header><CardTools /></Header>
                    <Body>
                        The body of the card
                    </Body>
                </Card>
            </Column>
            <Column Classes="col.md._3">
            <Card HeaderBackgroundColor="Color.Warning" Styles="new CardStyle[] { CardStyle.Outline }" ToolOptions="new CardToolOptions { Collapsable = true, Expandable = true }">
                    <Title><CardTitle>Warning Outline</CardTitle></Title>
                    <Header><CardTools /></Header>
                    <Body>
                        The body of the card
                    </Body>
                </Card>
            </Column>
            <Column Classes="col.md._3">
                <Card HeaderBackgroundColor="Color.Danger" Styles="new CardStyle[] { CardStyle.Outline }">
                    <Title><CardTitle>Danger Outline</CardTitle></Title>
                    <Body>
                        The body of the card
                    </Body>
                </Card>
            </Column>
        </Row>

        <H5>Custom Tools</H5>
        <Row>
            <Column Classes="col.md._3">
                <!-- This component is just for example purposes -->
                <CustomToolsCalendarExample CardTitle="Primary" HeaderBackgroundColor="Color.Primary"></CustomToolsCalendarExample>
            </Column>
            <Column Classes="col.md._3">
                <!-- This component is just for example purposes -->
                <CustomToolsCalendarExample CardTitle="Success" HeaderBackgroundColor="Color.Success"></CustomToolsCalendarExample>
            </Column>
            <Column Classes="col.md._3">
                <!-- This component is just for example purposes -->
                <CustomToolsCalendarExample CardTitle="Warning" HeaderBackgroundColor="Color.Warning"></CustomToolsCalendarExample>
            </Column>
            <Column Classes="col.md._3">
                <!-- This component is just for example purposes -->
                <CustomToolsCalendarExample CardTitle="Danger" HeaderBackgroundColor="Color.Danger"></CustomToolsCalendarExample>
            </Column>
        </Row>

        <H3>Social Widgets</H3>
        <Row>
            <Column Classes="col.md._4">

            </Column>
            <Column Classes="col.md._4">
                <WidgetSocial BackgroundColor="Color.Info"
                              ImageEffect="ImageEffect.Circle"
                              Elevation="Elevation.Two"
                              Image="_content/Blazor.AdminLte.Site.Shared/dist/img/user1-128x128.jpg"
                              Name="Alexander Pierce"
                              Title="Founder & CEO">
                    <DescriptionHeader1>3,200</DescriptionHeader1>
                    <Description1>SALES</Description1>
                    <DescriptionHeader2>13,000</DescriptionHeader2>
                    <Description2>FOLLOWERS</Description2>
                    <DescriptionHeader3>35</DescriptionHeader3>
                    <Description3>PRODUCTS</Description3>
                </WidgetSocial>
            </Column>
            <Column Classes="col.md._4">
                <WidgetSocial HeaderAlign="HAlign.Right"
                              HeaderForeColor="Color.White"
                              BackgroundImage="_content/Blazor.AdminLte.Site.Shared/dist/img/photo1.png"
                              ImageEffect="ImageEffect.Circle"
                              Image="_content/Blazor.AdminLte.Site.Shared/dist/img/user3-128x128.jpg"
                              Name="Elizabeth Pierce"
                              Title="Web Designer">
                    <DescriptionHeader1>3,200</DescriptionHeader1>
                    <Description1>SALES</Description1>
                    <DescriptionHeader2>13,000</DescriptionHeader2>
                    <Description2>FOLLOWERS</Description2>
                    <DescriptionHeader3>35</DescriptionHeader3>
                    <Description3>PRODUCTS</Description3>
                </WidgetSocial>
            </Column>
        </Row>
        
        <H3>Audio Widgets</H3>
            <Container >
        <Row>
        <Column Classes="col.md._3">
            <TrackCard Value="TrackState1"></TrackCard>
        </Column>
                    <Column Classes="col.md._3">
                <TrackCard Value="TrackState2"></TrackCard>
            </Column>
        <Column Classes="col.md._3">
            <TrackCard Value="TrackState3"></TrackCard>
        </Column>
            <Column Classes="col.md._3">
                <TrackCard Value="TrackState4"></TrackCard>
            </Column>
        </Row>
    </Container>
</ContentMain>



@code {
    TrackCardState TrackState1 = new TrackCardState()
        {
            ArtistName = "Sjef van Leeuwen",
            Title = "Acid Ocean",
            CoverImageUrl = "https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
            ContentUrl = "_content/Blazor.AdminLte.Site.Shared/audio/Sjef%20van%20Leeuwen%20-%20Acid%20Ocean.mp3",
            AvatarImageUrl = "_content/Blazor.AdminLte.Site.Shared/dist/img/user9-128x128.png",
            ContentBpm = 120,
            ContentLength = new TimeSpan(0, 4, 55)
        };
        TrackCardState TrackState2 = new TrackCardState()
        {
            ArtistName = "Sjef van Leeuwen",
            Title = "Inside Outside",
            CoverImageUrl = "https://images.pexels.com/photos/10846324/pexels-photo-10846324.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
            ContentUrl = "_content/Blazor.AdminLte.Site.Shared/audio/Sjef%20van%20Leeuwen%20-%20Inside%20outside.mp3",
            AvatarImageUrl = "_content/Blazor.AdminLte.Site.Shared/dist/img/user9-128x128.png",
            ContentBpm = 77,
            ContentLength = new TimeSpan(0, 6, 39)
        };

        TrackCardState TrackState3 = new TrackCardState()
        {
            ArtistName = "Sjef van Leeuwen",
            Title = "Give Me",
            CoverImageUrl = "https://images.pexels.com/photos/11329004/pexels-photo-11329004.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
            ContentUrl = "_content/Blazor.AdminLte.Site.Shared/audio/Sjef%20van%20Leeuwen%20-%20Give%20Me.mp3",
            AvatarImageUrl = "_content/Blazor.AdminLte.Site.Shared/dist/img/user9-128x128.png",
            ContentBpm = 108,
            ContentLength = new TimeSpan(0,5,11)
        };
        TrackCardState TrackState4 = new TrackCardState()
        {
            ArtistName = "Sjef van Leeuwen",
            Title = "Sacred Rituals",
            CoverImageUrl = "https://images.pexels.com/photos/10909792/pexels-photo-10909792.jpeg",
            ContentUrl = "_content/Blazor.AdminLte.Site.Shared/audio/Sjef%20van%20Leeuwen%20-%20Sacred%20Rituals.mp3",
            AvatarImageUrl = "_content/Blazor.AdminLte.Site.Shared/dist/img/user9-128x128.png",
            ContentBpm = 120,
            ContentLength = new TimeSpan(0,2,57)
        };

}