@page "/widgets"
    <div class="container-fluid">
        <h1>Widgets</h1>
        <h5>Info Box</h5>
        <Row>
            <Column Width="Width.Three" Size="Size.Medium">
                <InfoBox IconBackgroundColor="Color.Danger" Icon="far fa-envelope" Number=1410>
                    <Title>Messages</Title>
                </InfoBox>
            </Column>
            <Column Width="Width.Three" Size="Size.Medium">
                <InfoBox IconBackgroundColor="Color.Success" Icon="far fa-flag" Number=410>
                    <Title>Bookmarks</Title>
                </InfoBox>
            </Column>
            <Column Width="Width.Three" Size="Size.Medium">
                <InfoBox IconBackgroundColor="Color.Warning" Icon="far fa-copy" Number=13648>
                    <Title>Uploads</Title>
                </InfoBox>
            </Column>
            <Column Width="Width.Three" Size="Size.Medium">
                <InfoBox Gradient="Gradient.Gradient" IconBackgroundColor="Color.Info" Icon="far fa-star" Number=93139>
                    <Title>Likes</Title>
                </InfoBox>
            </Column>
        </Row>
        <h5>Info Box With bg-*</h5>
        <Row>
            <Column Width="Width.Three" Size="Size.Medium">
                <InfoBox BackgroundColor="Color.Info" Icon="far fa-bookmark" Percentage=70 Number=41.410>
                    <Title>Bookmarks</Title>
                    <ProgressDescription>70% Increase in 30 Days</ProgressDescription>
                </InfoBox>
            </Column>
            <Column Width="Width.Three" Size="Size.Medium">
                <InfoBox BackgroundColor="Color.Success" Icon="far fa-thumbs-up" Percentage=70 Number=41.410>
                    <Title>Likes</Title>
                    <ProgressDescription>70% Increase in 30 Days</ProgressDescription>
                </InfoBox>
            </Column>
            <Column Width="Width.Three" Size="Size.Medium">
                <InfoBox BackgroundColor="Color.Warning" Icon="far fa-calendar" Percentage=70 Number=41.410>
                    <Title>Events</Title>
                    <ProgressDescription>70% Increase in 30 Days</ProgressDescription>
                </InfoBox>
            </Column>
            <Column Width="Width.Three" Size="Size.Medium">
                <InfoBox BackgroundColor="Color.Danger" Icon="far fa-comments" Percentage=70 Number=41.410>
                    <Title>Comments</Title>
                    <ProgressDescription>70% Increase in 30 Days</ProgressDescription>
                </InfoBox>
            </Column>
        </Row>
        <h5>Info Box With bg-gradient-*</h5>
        <Row>
            <Column Width="Width.Three" Size="Size.Medium">
                <InfoBox Gradient="Gradient.Gradient" BackgroundColor="Color.Info" Icon="far fa-bookmark" Percentage=70 Number=41.410>
                    <Title>Bookmarks</Title>
                    <ProgressDescription>70% Increase in 30 Days</ProgressDescription>
                </InfoBox>
            </Column>
            <Column Width="Width.Three" Size="Size.Medium">
                <InfoBox Gradient="Gradient.Gradient" BackgroundColor="Color.Success" Icon="far fa-thumbs-up" Percentage=70 Number=41.410>
                    <Title>Likes</Title>
                    <ProgressDescription>70% Increase in 30 Days</ProgressDescription>
                </InfoBox>
            </Column>
            <Column Width="Width.Three" Size="Size.Medium">
                <InfoBox Gradient="Gradient.Gradient" BackgroundColor="Color.Warning" Icon="far fa-calendar" Percentage=70 Number=41.410>
                    <Title>Events</Title>
                    <ProgressDescription>70% Increase in 30 Days</ProgressDescription>
                </InfoBox>
            </Column>
            <Column Width="Width.Three" Size="Size.Medium">
                <InfoBox Gradient="Gradient.Gradient" BackgroundColor="Color.Danger" Icon="far fa-comments" Percentage=70 Number=41.410>
                    <Title>Comments</Title>
                    <ProgressDescription>70% Increase in 30 Days</ProgressDescription>
                </InfoBox>
            </Column>
        </Row>
        <h5>Social Widgets</h5>
        <Row>
            <Column Width="Width.Six" Size="Size.Medium">
                <WidgetSocial BackgroundColor="Color.Info"
                              ImageEffect="ImageEffect.Circle"
                              Elevation="Elevation.Two"
                              Image="_content/Blazor.AdminLte.Site.Shared/dist/img/user1-128x128.jpg"
                              Name="Alexander Pierce"
                              Title="Founder & CEO">
                    <DescriptionHeader1>3,200</DescriptionHeader1>
                    <Description1>SALES</Description1>
                    <DescriptionHeader2>13,000</DescriptionHeader2>
                    <Description2>FOLLOWERS</Description2>
                    <DescriptionHeader3>35</DescriptionHeader3>
                    <Description3>PRODUCTS</Description3>
                </WidgetSocial>
            </Column>
            <Column Width="Width.Six" Size="Size.Medium">
                <WidgetSocial HeaderAlign="HAlign.Right"
                              HeaderForeColor="Color.White"
                              BackgroundImage="_content/Blazor.AdminLte.Site.Shared/dist/img/photo1.png"
                              ImageEffect="ImageEffect.Circle"
                              Image="_content/Blazor.AdminLte.Site.Shared/dist/img/user3-128x128.jpg"
                              Name="Elizabeth Pierce"
                              Title="Web Designer">
                    <DescriptionHeader1>3,200</DescriptionHeader1>
                    <Description1>SALES</Description1>
                    <DescriptionHeader2>13,000</DescriptionHeader2>
                    <Description2>FOLLOWERS</Description2>
                    <DescriptionHeader3>35</DescriptionHeader3>
                    <Description3>PRODUCTS</Description3>
                </WidgetSocial>
            </Column>
        </Row>
        <h5>Cards</h5>
        <h6>Abilities</h6>
        <Row>
            <Column Width="Width.Three" Size="Size.Medium">
                <Card HeaderBackgroundColor="Color.Primary" Expandable="true">
                    <Title>Expandable</Title>
                    <Contents>
                        The body of the card
                    </Contents>
                </Card>
            </Column>
            <Column Width="Width.Three" Size="Size.Medium">
                <Card HeaderBackgroundColor="Color.Success" Collapsable="true">
                    <Title>Collapsable</Title>
                    <Contents>
                        The body of the card
                    </Contents>
                </Card>
            </Column>
            <Column Width="Width.Three" Size="Size.Medium">
                <Card HeaderBackgroundColor="Color.Warning" Removable="true">
                    <Title>Removable</Title>
                    <Contents>
                        The body of the card
                    </Contents>
                </Card>
            </Column>
            <Column Width="Width.Three" Size="Size.Medium">
                <Card HeaderBackgroundColor="Color.Danger" Maximizable="true">
                    <Title>Maximizable</Title>
                    <Contents>
                        The body of the card
                    </Contents>
                </Card>
            </Column>
        </Row>


        <Row>
            <Column Width="Width.Three" Size="Size.Medium">
                <Card HeaderBackgroundColor="Color.Primary" OnRefresh="GetContent">
                    <Title>Card Refresh</Title>
                    <Contents>
                        @BodyRefreshCard
                    </Contents>
                </Card>
            </Column>
            @code {
                private MarkupString BodyRefreshCard { get; set; } = (MarkupString)"The body of the card";
                private void GetContent(Tuple<ICard, MouseEventArgs> tuple)
                {
                    BodyRefreshCard = (MarkupString)"The body of the card, after refresh";
                }
            }
            <Column Width="Width.Three" Size="Size.Medium">
                <Card HeaderBackgroundColor="Color.Success" OnRefresh="GetContent2" Collapsable="true" Removable="true" Maximizable="true">
                    <Title>All together</Title>
                    <Contents>
                        @BodyRefreshCard2
                    </Contents>
                </Card>
            </Column>
            @code {
                private MarkupString BodyRefreshCard2 { get; set; } = (MarkupString)"The body of the card";
                private void GetContent2(Tuple<ICard, MouseEventArgs> tuple)
                {
                    BodyRefreshCard2 = (MarkupString)"The body of the card, after refresh";
                }
            }
            <Column Width="Width.Three" Size="Size.Medium">
                <Card HeaderBackgroundColor="Color.Warning" LoadingState="LoadingState.Normal">
                    <Title>Loading state</Title>
                    <Contents>
                        The body of the card
                    </Contents>
                </Card>
            </Column>
            <Column Width="Width.Three" Size="Size.Medium">
                <Card HeaderBackgroundColor="Color.Danger" LoadingState="LoadingState.Dark">
                    <Title>Loading state (dark)</Title>
                    <Contents>
                        The body of the card
                    </Contents>
                </Card>
            </Column>
        </Row>


        <h6>Color Variations</h6>
        <Row>
            <Column Width="Width.Three" Size="Size.Medium">
                <Card HeaderBackgroundColor="Color.Primary">
                    <Title>Primary</Title>
                    <Contents>
                        The body of the card
                    </Contents>
                </Card>
            </Column>
            <Column Width="Width.Three" Size="Size.Medium">
                <Card HeaderBackgroundColor="Color.Success" Removable="true">
                    <Title>Success</Title>
                    <Contents>
                        The body of the card
                    </Contents>
                </Card>
            </Column>
            <Column Width="Width.Three" Size="Size.Medium">
                <Card HeaderBackgroundColor="Color.Warning" Collapsable="true">
                    <Title>Warning</Title>
                    <Contents>
                        The body of the card
                    </Contents>
                </Card>
            </Column>
            <Column Width="Width.Three" Size="Size.Medium">
                <Card HeaderBackgroundColor="Color.Danger">
                    <Title>Danger</Title>
                    <Contents>
                        The body of the card
                    </Contents>
                </Card>
            </Column>
        </Row>
        <Row>
            <Column Width="Width.Three" Size="Size.Medium">
                <Card HeaderBackgroundColor="Color.Primary" CardStyle="CardStyle.Outline">
                    <Title>Primary Outline</Title>
                    <Contents>
                        The body of the card
                    </Contents>
                </Card>
            </Column>
            <Column Width="Width.Three" Size="Size.Medium">
                <Card HeaderBackgroundColor="Color.Success" Removable="true" CardStyle="CardStyle.Outline">
                    <Title>Success Outline</Title>
                    <Contents>
                        The body of the card
                    </Contents>
                </Card>
            </Column>
            <Column Width="Width.Three" Size="Size.Medium">
                <Card HeaderBackgroundColor="Color.Warning" Collapsable="true" CardStyle="CardStyle.Outline">
                    <Title>Warning Outline</Title>
                    <Contents>
                        The body of the card
                    </Contents>
                </Card>
            </Column>
            <Column Width="Width.Three" Size="Size.Medium">
                <Card HeaderBackgroundColor="Color.Danger" CardStyle="CardStyle.Outline">
                    <Title>Danger Outline</Title>
                    <Contents>
                        The body of the card
                    </Contents>
                </Card>
            </Column>
        </Row>


        <Row>
            <Column Width="Width.Three" Size="Size.Medium">
                <Card HeaderBackgroundColor="Color.Primary" CardStyle="CardStyle.Solid">
                    <Title>Primary Outline</Title>
                    <Contents>
                        The body of the card
                    </Contents>
                </Card>
            </Column>
            <Column Width="Width.Three" Size="Size.Medium">
                <Card HeaderBackgroundColor="Color.Success" Removable="true" CardStyle="CardStyle.Solid">
                    <Title>Success Outline</Title>
                    <Contents>
                        The body of the card
                    </Contents>
                </Card>
            </Column>
            <Column Width="Width.Three" Size="Size.Medium">
                <Card HeaderBackgroundColor="Color.Warning" Collapsable="true" CardStyle="CardStyle.Solid">
                    <Title>Warning Outline</Title>
                    <Contents>
                        The body of the card
                    </Contents>
                </Card>
            </Column>
            <Column Width="Width.Three" Size="Size.Medium">
                <Card HeaderBackgroundColor="Color.Danger" CardStyle="CardStyle.Solid">
                    <Title>Danger Outline</Title>
                    <Contents>
                        The body of the card
                    </Contents>
                </Card>
            </Column>
        </Row>

    </div>
@code {

}
