@namespace Blazor.AdminLte
<div @ref="CardReference" @attributes="@Attributes">
    <div @attributes="HeaderAttributes">
        @Title
        <CascadingValue Name="ToolOptions" Value="ToolOptions">
            @Header
        </CascadingValue>
    </div>
    @if (HasForm)
    {
        <form>
            <div class="card-body">
                @Body
            </div>
        </form>
    }
    else
    {
        <div class="card-body">
            @Body
        </div>
    }
    @if (LoadingState != LoadingState.None)
    {
        <div class="@(LoadingState.GetDescription<StyleAttribute>())">
            <i class="fas fa-2x fa-sync-alt"></i>
        </div>
    }
</div>

@code {


}
