@namespace Blazor.AdminLte
    <div class="card-tools">
        @if (ShowOnRefresh)
        {
            <button type="button" class="btn btn-tool" @onclick="DoOnRefresh">
                <i class="fas fa-sync-alt"></i>
            </button>
        }
        @if (Options.Maximizable)
        {
            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                <i class="fas fa-expand"></i>
            </button>
        }
        @if (Options.Collapsable)
        {
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        }
        @if (Options.Expandable)
        {
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-plus"></i>
            </button>
        }
        @if (Options.Removable)
        {
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        }
    </div>