@page "/"
<ContentHeader>
    <Header>
        <PageTitle Title="Index" />
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title><CardTitle>Title</CardTitle></Title>
        <Body>Contents</Body>
    </Card>
</ContentMain>
