@page "/"
<ContentHeader>
    <Header>
        <Microsoft.AspNetCore.Components.Web.PageTitle>Index</Microsoft.AspNetCore.Components.Web.PageTitle>
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title><CardTitle>Title</CardTitle></Title>
        <Body>Contents</Body>
    </Card>
</ContentMain>
