@page "/"
<ContentHeader>
    <Header>
        <Blazor.AdminLte.PageTitle Title="Index" />
    </Header>
    <BreadcrumbContainer>
        <Breadcrumb>
            <BreadcrumbItem Active>Home</BreadcrumbItem>
            <BreadcrumbItem Link="/starter-pages/active-page">Active Page</BreadcrumbItem>
        </Breadcrumb>
    </BreadcrumbContainer>
</ContentHeader>
<ContentMain>
    <Card>
        <Title><CardTitle>Title</CardTitle></Title>
        <Body>
            Contents
        </Body>
    </Card>
</ContentMain>
