@page "/"
<ContentHeader>
    <Header>
        Index
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title>Title</Title>
        <Contents>Contents</Contents>
    </Card>
</ContentMain>
