@page "/see-all-messages"
<ContentHeader>
    <Header>
        All Messages
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title>Title</Title>
        <Contents>Contents</Contents>
    </Card>
</ContentMain>
