    <!-- Brand Logo -->
<a href="@Link" class="brand-link">
    <img src="@Logo" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">@ChildContent</span>
</a>
@code {
    [Parameter]
    public string Link { get; set; } = "#";
    [Parameter]
    public string Logo { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
