@page "/forms/general"
<ContentHeader>
    <Header>
        General Form
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title><CardTitle>Some simple link content</CardTitle></Title>
        <Body>Contents</Body>
    </Card>
</ContentMain>
