@page "/injections/navbar-left-override"
@inject NavBarLeftInjectableMenu menu
@menu.SetContent(@<NavBarLeftMenu />,true)
<ContentHeader>
    <Header>
        <Microsoft.AspNetCore.Components.Web.PageTitle>Navbar Left Override</Microsoft.AspNetCore.Components.Web.PageTitle>
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title><CardTitle>Title</CardTitle></Title>
        <Body>Contents</Body>
    </Card>
</ContentMain>
