@page "/injections/navbar-left-override"
@inject NavBarLeftInjectableMenu menu
@menu.SetContent(@<NavBarLeftMenu />,true)
<ContentHeader>
    <Header>
        Navbar Left Override
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title>Title</Title>
        <Contents>Contents</Contents>
    </Card>
</ContentMain>
