@namespace Blazor.AdminLte
<div class="tab-pane fade show @(IsActive ? "active" : string.Empty)" id="@CompositeIdentifier" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
    @ChildContent
</div>