@page "/forgot-password"
@inject NavigationManager NavigationManager

<!-- note: using styles, not css, we will target Isolated CSS for this component when we upgrade to .NET5 -->
<Overlay>
    <div style=" margin: 0 auto; margin-top: 10%; max-width: 400px;">
        <div class="login-box">
            <div class="login-logo">
                <a href="../../index2.html"><b>Admin</b>LTE</a>
            </div>

            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
                    @*<form action="recover-password.html" method="post">*@
                        <Input @bind-Value="emailInput" />
                        <div class="row">
                            <div class="col-12">
                                <Button Color="Color.Primary" OnClick="OnRequestNewPassword">Request new password</Button>
                            </div>
                        </div>
@*                    </form>*@
                    <p class="mt-3 mb-1">
                        <a href="login">Login</a>
                    </p>
                    <p class="mb-0">
                        <a href="register" class="text-center">Register a new membership</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</Overlay>
@code {
    InputState emailInput = new InputState() { Identifier = "email", Placeholder = "Enter email", Type = "email", Icon = "fas fa-envelope" };
    void OnRequestNewPassword()
    {
        NavigationManager.NavigateTo("new-password-requested");
    }
}
