@page "/About"
<ContentHeader>
    <Header>
        <PageTitle Title="About" />
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title><CardTitle>Title</CardTitle></Title>
        <Body>
            Contents
        </Body>
    </Card>
</ContentMain>
