@page "/Custom"
<ContentHeader>
    <Header>
        <PageTitle Title="Custom" />
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title><CardTitle>Title</CardTitle></Title>
        <Body>
            Custom page navigated from injectable menu in home page.
        </Body>
    </Card>
</ContentMain>
